@model List<AttendanceAdmin>

@section head{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;700&display=swap" rel="stylesheet">
}

@{
    var name = Context.Request.Query["EmployeeName"];
}

<style>
    table{
        width:70% !important;
        border-radius: 10px;
    }

    body {
        font-family: 'Akatab', sans-serif;
        background-color: #0076d1;
        background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    }

    h1 {
        color: white;
        font: 700;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d0e5f6;
    }

    th, td {
        padding-left: 2vw !important;
    }
</style>

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <h1 align="center">@name's Attendance</h1>
            <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table table-bordered mx-auto bg-light" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">CheckIn</th>
                                    <th class="text-center" scope="col">CheckOut</th>
                                    <th class="text-center" scope="col">Status</th>
                                    <th class="text-center" scope="col">Regularized</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var attendance in Model)
                                {
                                    <tr class="">
                                        <td class="text-center">@attendance.CheckIn</td>
                                        <td class="text-center">@attendance.CheckOut</td>
                                        <td class="text-center">@attendance.Status</td>
                                        <td class="text-center">@if (attendance.ModifiedBy != null) {<text>Yes</text>}</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>