@model List<LeavePersonal>
<style>
    .CheckToRight {
        float: right;
        width: 18px;
        height: auto;
    }
</style>

    @foreach(var leave in Model)
    {
        <span style="font-size: .9rem;"> @leave.Reason <br>/ @leave.ToDate.ToString("MMM,dd")</span>
         @if (leave.ApprovalStatus == true)
        {
		    <span class="CheckToRight"><img src="/confirm-icon.svg" /></span>
        }
        else
        {
            <span class="CheckToRight"><img src="/cancel-icon.svg" /></span>
        }
    }