@model Management.Entities.EmployeeEntities.EmployeePersonal

@{
    ViewData["Title"] = "Employee Registration";
}

<div class="container register" >
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>We are glad to have a new talented person to our Company</p>
            <a asp-controller="Login" asp-action="login"><input type="submit" name="" value="Login" /></a><br />
        </div>
        <div class="col-md-9 register-right">
            <form asp-action="EmployeeRegistration" method="post" class="px-2">                
                    <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Apply as a Employee</h3>
                        <div class="row register-form">
                            <div class="col-md-6 register-right">
                                <div class="form-group m-1">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" asp-for="FirstName" required/>
                                </div>
                                <div class="form-group m-1">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" asp-for="LastName" required />
                                </div>
                                <div class="form-group m-1">
                                    <input type="date" class="form-control" placeholder="Birthdate *" value="" asp-for="DateOfBirth" required />
                                </div>
                                <div class="form-group m-1">
                                    <div class="maxl" required>
                                        <label class="radio inline m-1"> 
                                            <input type="radio" name="gender" value="male" checked asp-for="Gender">
                                            <span> Male </span> 
                                        </label>
                                        <label class="radio inline m-1"> 
                                            <input type="radio" name="gender" value="female" asp-for="Gender">
                                            <span>Female </span> 
                                        </label>
                                        <label class="radio inline m-1"> 
                                            <input type="radio" name="gender" value="Other Gender" asp-for="Gender">
                                            <span>Other Gender</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-1">
                                    <input type="text" class="form-control" placeholder="Your Address *" value="" asp-for="Address" required />
                                </div>
                                <div class="form-group m-1">
                                    <input type="text" minlength="10" maxlength="10" class="form-control" placeholder="Contact Number *" value="" asp-for="Contact" required />
                                </div>
                                <div class="form-group m-1">
                                    <select class="form-control" asp-for="Designation" required>
                                        <option class="hidden" selected disabled>Please select your Designation *</option>
                                        <option>HR Manager</option>
                                        <option>Software Developer</option>
                                    </select>
                                </div>
                                <div class="form-group m-1">
                                    <input type="text" class="form-control" placeholder="Approved By *" value="" asp-for="SignInApprovedBy" required/>
                                </div>
                                <input type="submit" class="btnRegister m-1"  value="Register"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
